aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
appnope==0.1.2
argon2-cffi==20.1.0
astroid==2.4.1
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
blessings==1.7
boto3==1.4.8
botocore==1.8.50
branca==0.4.1
cachetools==4.2.1
certifi==2020.4.5.1
cffi==1.14.5
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cloudpickle==1.4.1
colorama==0.4.3
colorful==0.5.4
dask==2.19.0
decorator==5.0.5
defusedxml==0.7.1
distributed==2.19.0
docutils==0.17
entrypoints==0.3
filelock==3.0.12
Fiona==1.8.18
fire==0.3.1
folium==0.11.0
geographiclib==1.50
geopandas==0.9.0
geopy==2.0.0
google-api-core==1.26.3
google-auth==1.28.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.36.1
HeapDict==1.0.1
hiredis==2.0.0
idna==2.9
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.21
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
modin==0.9.1
modin-spreadsheet==0.1.1
msgpack==1.0.2
multidict==5.1.0
munch==2.5.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.18.5
nvidia-ml-py3==7.352.0
opencensus==0.7.12
opencensus-context==0.1.2
packaging==20.9
pandas==1.0.4
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
plumbum==1.7.0
prometheus-client==0.10.0
prompt-toolkit==3.0.18
protobuf==3.15.7
psutil==5.8.0
ptyprocess==0.7.0
py-spy==0.3.5
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.8.1
pylint==2.5.2
pyparsing==2.4.7
pyproj==2.6.1.post1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
ray==1.1.0
redis==3.5.3
requests==2.23.0
rpyc==4.1.5
rsa==4.7.2
s3transfer==0.1.13
Send2Trash==1.5.0
Shapely==1.7.0
six==1.15.0
sortedcontainers==2.3.0
tblib==1.7.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
toml==0.10.1
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
yarl==1.6.3
zict==2.0.0
